taining_data_db
tally_dict.pickle
vocab_dict.pickle
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
data/tally_dict.pickle
data/compressed/RC_2018-09.xz
data/compressed/RC_2018-10.zst
data/compressed/RC_2018-11.zst
data/compressed/RC_2018-12.zst
data/compressed/RC_2019-01.zst
data/compressed/RC_2019-02.zst
data/compressed/RC_2019-03.zst
data/compressed/RC_2019-04.zst
data/compressed/RC_2019-05.zst
data/compressed/RS_2018-09.xz
data/compressed/RS_2018-11.zst
data/compressed/RS_2018-12.zst
data/compressed/RS_2019-01.zst
data/compressed/RS_2019-02.zst
data/compressed/RS_2019-03.zst
data/compressed/RS_2019-04.zst
data/compressed/RS_2019-05.zst
data/compressed/RS_2019-06.zst
data/compressed/RS_2019-07.zst
data/compressed/RS_2019-08.zst
data/uncompressed/RC_2018-09
data/uncompressed/RC_2018-10
data/uncompressed/RC_2018-11
data/uncompressed/RC_2018-12
data/uncompressed/RC_2019-01
data/uncompressed/RC_2019-02
data/uncompressed/RC_2019-03
data/uncompressed/RC_2019-04
data/uncompressed/RC_2019-05
data/uncompressed/RS_2018-08
data/uncompressed/RS_2018-09
data/uncompressed/RS_2018-10
data/uncompressed/RS_2018-11
data/uncompressed/RS_2018-12
data/uncompressed/RS_2019-01
data/uncompressed/RS_2019-02
data/uncompressed/RS_2019-03
data/uncompressed/RS_2019-04
data/uncompressed/RS_2019-05
scripts/base_vocab.pickle
scripts/compressed_tally_dict.pickle
scripts/current.txt
scripts/cython.py
scripts/database
scripts/database_shelf.dat
scripts/database_shelf.dir
scripts/database_test
scripts/dump
scripts/num_training_points_per_parent_child.pickle
scripts/radam.py
scripts/ranger.py
scripts/taining_data_db
scripts/tally_dict.pickle
scripts/test_script_5.py
scripts/test_script3.py
scripts/test_string.txt
scripts/test.py
scripts/vocab_dict.pickle
scripts/__pycache__/cython.cpython-36.pyc
scripts/__pycache__/pre_processing_convert_to_bpes.cpython-36.pyc
scripts/__pycache__/pre_processing_database.cpython-36.pyc
scripts/__pycache__/pre_processing_raw_train_data_database.cpython-36.pyc
scripts/__pycache__/pre_processing_raw_training_data_database.cpython-36.pyc
scripts/__pycache__/pre_processing_token_dict_creator.cpython-36.pyc
scripts/__pycache__/radam.cpython-36.pyc
scripts/__pycache__/ranger.cpython-36.pyc
scripts/__pycache__/training_skeleton.cpython-36.pyc
scripts/__pycache__/transformer.cpython-36.pyc
scripts/runs/events.out.tfevents.1575061638.Alfie.6124.0
scripts/runs/events.out.tfevents.1575063596.Alfie.12700.0
scripts/runs/events.out.tfevents.1575201832.Alfie.11860.0
scripts/runs/events.out.tfevents.1575201856.Alfie.3844.0
scripts/runs/events.out.tfevents.1575203117.Alfie.14736.0
scripts/runs/events.out.tfevents.1575206041.Alfie.2872.0
scripts/runs/events.out.tfevents.1575206062.Alfie.10008.0
scripts/runs/events.out.tfevents.1575206084.Alfie.12040.0
scripts/runs/events.out.tfevents.1575206095.Alfie.13292.0
scripts/runs/events.out.tfevents.1575206122.Alfie.9660.0
scripts/runs/events.out.tfevents.1575206157.Alfie.8184.0
scripts/runs/events.out.tfevents.1575206179.Alfie.7408.0
scripts/runs/events.out.tfevents.1575206747.Alfie.244.0
scripts/runs/events.out.tfevents.1575206804.Alfie.5128.0
scripts/runs/events.out.tfevents.1575206949.Alfie.2380.0
scripts/runs/events.out.tfevents.1575207030.Alfie.11804.0
scripts/runs/events.out.tfevents.1575207076.Alfie.3748.0
scripts/runs/events.out.tfevents.1575207095.Alfie.13860.0
scripts/runs/events.out.tfevents.1575207208.Alfie.9520.0
